<script setup>
import { ref, onBeforeMount } from 'vue';
import { useAuthStore } from '@stores/AuthStore';
import { useRouter } from 'vue-router';
const username = ref('k.temirov');
const password = ref('k.temirov@#333');
const router = useRouter();
const authStore = useAuthStore();

const redirectIsAuth = () => {
	if (authStore.isAuthenticated) {
		router.push('/');
	}
};

const login = async () => {
	if (!authStore.isAuthenticated) {
		await authStore.login(username.value, password.value);
		redirectIsAuth();
	}

};

onBeforeMount(() => {
	redirectIsAuth();
})

</script>

<template>
	<div class="flex min-h-full flex-1 flex-col justify-center px-6 py-12 lg:px-8">
		<div class="sm:mx-auto sm:w-full sm:max-w-sm">
			<h1 class="text-blue-900 text-5xl font-bold text-center">Proctoring.uz</h1>
			<h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
		</div>

		<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
			<form class="space-y-6" @submit.prevent="login">
				<div>
					<label for="username" class="block text-sm font-medium leading-6 text-gray-900">Username</label>
					<div class="mt-2">
						<input id="username" name="username" type="username" autocomplete="username" v-model="username" required=""
							class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
					</div>
				</div>

				<div>
					<div class="flex items-center justify-between">
						<label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
						<div class="text-sm">
							<a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
						</div>
					</div>
					<div class="mt-2">
						<input id="password" name="password" type="password" autocomplete="current-password" v-model="password"
							required=""
							class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
					</div>
				</div>

				<div>
					<button type="submit"
						class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign
						in</button>
				</div>
			</form>


		</div>
	</div>
</template>
