@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #f4f7fe;
}

aside {
	width: 290px;
}

.invisible {
	opacity: 0.2;
}
#app {
	gap: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loader {
	border: 8px solid #f3f3f3;
	border-top: 8px solid #3498db;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
}
